#imageInput {
  display: none;
}

.imageInput {
  align-items: center;
  background: rgb(200, 200, 200);
  border: 3px dashed;
  color: rgb(100, 100, 100);
  cursor: pointer;
  display: flex;
  height: 200px;
  justify-content: center;
  transition: color 300ms ease-in-out , background 300ms ease-in-out;
  width: 200px;
}

.imageInput:hover {
  background: rgb(150, 150, 150);
  color: rgb(50, 50, 50);
}

.imageInput:active {
  background: rgb(150, 150, 250);
  color: rgb(150, 150, 150);
  transition: color 300ms ease-in-out , background 300ms ease-in-out;
}
